* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.container {
    display: flex;
}

.left {
    flex: 2;
}

.center {
    flex: 4;
}

.right {
    flex: 2;
}

